<div class="container">
  <!--Navbar with Home/Saved Articles/Scrape new articles-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Mongo HW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/scrape">Scrape</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Jumbotron with assignment name / website scraped -->
  <div class="jumbotron" style="background-color: #4aaaa5; color:white;">
    <h1 class="display-4" style="text-align: center; font-weight: bold; font-style:italic;">New York Times - Sports</h1>
    <hr class="my-6">
    <p style="text-align: center; font-size: 18px;">Scrape articles from the New York Times Sports Page and click on
      their titles below to add a comment</p>
  </div>

  <div class="row">
    <div id="articles" class="col-md-9">
      {{#each articles}}
      <div class='articleBox'>
        <p class='articlesScraped' data-id='{{this._id}}'> {{this.title}} </p>
        <a class='articleLink' href='https://www.nytimes.com{{this.link}}'>www.newyorktimes.com/{{this.link}}</a>
        <p class='articleSummary'>{{this.summary}}</p>
      </div>
      {{/each}}
    </div>
    <p id="comments" class="col-md-3"></p>
  </div>

</div>